#div1 {
  width: 350px;
  height: 70px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}

#shdiv{
    display: none;
}
#sqldiv{
    display: none;
}
#data_table{
    transition: width 0.2s;
    transition-timing-function: ease-in;
}
#csv_visualizer{
    display: none;
 }
#sql_visualizer{
    display: none;
}
#joinblock{
    display: none;
}
#transform{
    display: none;
    width: 140px;
}
#output{
    display: none;
    width: 140px;
}
#btn{
    height: 50px;
    width: 50px;
    background: deepskyblue;
}

#content{
    height: 400px;
    width: 0px;
    background: #34ce57;
    transition: width 0.2s;
    /*position: absolute;*/
}
#table{
    display: none;
}